/* sets the box sizing to make elements size include borders and padding */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* sets 1rem = 10 px instead of 16px for ease of decimal use */
html {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  }

/* places images on their own block container and prevents them from expanding beyond their original size */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* removes the list markers that come on lists */
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

/* removes default padding on lists */
menu,
ol,
ul {
    padding-left: 0;
}

/* makes list markers inside the list item to prevent issues with neighboring content*/
article ol,
article ul {
    list-style-position: inside;
}

/* Places underlines below the descenders and sets the thickness as a percentage of the font size  */
a {
    text-underline-position: under;
    text-decoration-thickness: 8;
}

html {
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 40px;
    margin: 0;
}

.display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border: 2px solid gray;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    border: 4px solid;
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* width: 20vw; */
    /* height: 20vw; */
}

.fifth-row button{
    flex: 1 0 auto;
}

.calculator-container button{
    font-size: 28px;
    width: calc(20vw/3);
    height: calc(20vw/4);
}